/* ---------------------------------------------------------------------------------- */
/* Default styles */
/* ---------------------------------------------------------------------------------- */
body,textarea {
	color: #323232;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 62.5%;
}

strong {
	font-weight: bold;
}

h1,h2,h3,h4 {
	font-weight: bold;
}

h1 {
	font-size: 1.5em;
}

h2 {
	font-size: 1.4em;
}

h3 {
	font-size: 1.2em;
}

img {
	border: none;
	vertical-align: middle;
}

p,ul,ol,dd,dt,table,input,select,label,textarea {
	font-size: 1.1em;
	line-height: 1.3em;
}

ul,ol {
	list-style: none outside none;
}

.spacer {
	clear: both;
}

.hidden {
	text-indent: -3000px;
	display: none;
}

/* ---------------------------------------------------------------------------------- */
/* Link styles */
/* ---------------------------------------------------------------------------------- */
a,.orange {
	color: rgb(245, 102, 0);
	text-decoration: none;
}

a.link {
	background-image: url("../images/arrowLink.gif");
	background-repeat: no-repeat;
	background-position: left center;
	padding-left: 13px;
	margin: 0px 0.7em 0px 0px;
	vertical-align: text-bottom;
}

a:hover {
	color: #FF6600;
	text-decoration: none;
}

a:focus {
	color: #FF6600;
	text-decoration: none;
}

a,a:visited {
	color: #323232;
	text-decoration: none;
}

/* ---------------------------------------------------------------------------------- */
/* application layout */
/* ---------------------------------------------------------------------------------- */
.site {
	background: #FFFFFF none repeat scroll 0%;
	border: 0pt none;
	margin: 5px;
	padding: 0pt;
	width: 64em;
}

#main {
	float: left;
	margin-top: 25px;
	height: 292px;
}

/* ---------------------------------------------------------------------------------- */
/* Header styles */
/* ---------------------------------------------------------------------------------- */
#header {
	padding-bottom: 10px;
	float: left;
	text-transform: lowercase;
	text-align: left;
	margin: 10px;
	/* 99% because 100% gives horizontal scrollbar */
	width: 99%;
	margin: 10px;
}

#logo {
	float: left;
}

#username {
	border-right: 1px solid #010101;
	margin: 28px 0 0;
	padding: 0 5px 2px 0;
}

#username .userlogin {
	color: #FF5500;
	font-weight: bold;
}

#username li {
	float: left;
	margin: 0 0 0 5px;
	padding: 0 0 2px;
}

#username,#signout {
	float: left;
}

#signout {
	background: url("../images/arrow-orng-wht-sw.gif") no-repeat scroll 0
		5px transparent;
	font-weight: bold;
	margin: 28px 0 0 5px;
	padding: 0 0 0 11px;
}

#signout a {
	color: #010101;
}

#signout a:hover {
	color: #FF5500;
}

#menu {
	float: right;
}

#menu li.first {
	border-left: 0 none;
}

#menu li {
	border-left: 1px solid #010101;
	float: left;
	margin: 0 0 0 5px;
	padding: 0 0 2px;
}

#menu li a {
	background: url("../images/arrow-orng-wht-se.gif") no-repeat scroll 0
		5px transparent;
	color: #323232;
	font-weight: bold;
	margin: 0 0 0 5px;
	padding: 0 0 0 11px;
	text-transform: lowercase;
}

#menu li a:hover {
	color: #FF6600;
}

/* ---------------------------------------------------------------------------------- */
/* navigation bar styles */
/* ---------------------------------------------------------------------------------- */
#nav {
	background: url("../images/nav-bg.jpg") repeat-x scroll 0 0 transparent;
	border-top: 1px solid #CACACA;
	clear: both;
	float: left;
	margin: 20px 0 0;
	width: 100%;
	font-weight: bold;
}

#nav ul {
	background: url("../images/nav-dvdr.gif") no-repeat scroll 0 0
		transparent;
	float: left;
	padding: 0 0 0 1px;
}

#nav li {
	background: url("../images/nav-dvdr.gif") no-repeat scroll right top
		transparent;
	float: left;
}

#nav li.active {
	background: url("../images/nav-dvdr.gif") no-repeat scroll right top
		#FFFFFF;
}

#nav li.active a {
	color: #FF5500;
}

#nav li a {
	background-position: 10px 0;
	background-repeat: no-repeat;
	display: block;
	float: left;
	height: 22px;
	overflow: hidden;
	padding: 20px 10px 0;
}

/* ---------------------------------------------------------------------------------- */
/* Content styles */
/* ---------------------------------------------------------------------------------- */
#content {
	float: left;
	height: 100%;
	width: 45em;
}

#content h2 {
	color: #FF6600;
	font-family: Helvetica, Arial, sans-serif;
	font-size: 2.4em;
	font-weight: lighter;
	line-height: 1em;
	margin: 0 0 13px;
	text-transform: lowercase;
}

#content h4 {
	background-color: #EEEEEE;
	font-family: Helvetica, Arial, sans-serif;
	font-size: 1.2em;
	font-weight: bold;
	margin: 0 0 13px;
	padding: 5px 5px 5px;
	text-transform: lowercase;
}

#content a {
	color: #FF5500;
	text-transform: none;
}

#marketlist {
	width: 100%;
}

.brand-txt-wide {
	float: left;
	padding: 20px 0 14px;
	width: 520px;
}

.brand-txt-wide ul {
	margin-left: 10px;
}

.brand-txt-wide ul li {
	background: url("../images/bullet-grey.gif") no-repeat scroll left top
		transparent;
	margin: 0;
	padding: 0 0 0 10px;
}

#subnav {
	float: left;
	padding: 0 15px 0 0;
	width: 15em;
}

#subnav ul {
	border-top: 1px solid #CCCCCC;
}

#subnav li {
	border-right: 1px solid #CCCCCC;
}

#subnav li a {
	background: url("../images/arrow-orng-wht-se.gif") no-repeat scroll 5px
		9px #FFFFFF;
	border-bottom: 1px solid #CCCCCC;
	display: block;
	font-weight: bold;
	padding: 5px 5px 5px 17px;
}

#detail {
	float: left;
	height: 100%;
}

#detail h2 {
	color: #FF6600;
	font-family: Helvetica, Arial, sans-serif;
	font-size: 2.4em;
	font-weight: lighter;
	line-height: 1em;
	margin: 0 0 13px;
	text-transform: lowercase;
}

#detail h4 {
	background-color: #EEEEEE;
	font-family: Helvetica, Arial, sans-serif;
	font-size: 1.2em;
	font-weight: bold;
	margin: 0 0 13px;
	padding: 5px 5px 5px;
	text-transform: lowercase;
}

/* ---------------------------------------------------------------------------------- */
/* form styles */
/* ---------------------------------------------------------------------------------- */
.form-entry {
	display: block;
	padding-top: 5px;
	padding-bottom: 5px;
}

.form-button {
	
}

.form-button li {
	display: inline;
	margin: 0 0 0 5px;
	padding: 0 0 2px;
}

/* ---------------------------------------------------------------------------------- */
/* feedback styles */
/* ---------------------------------------------------------------------------------- */
.feedback {
	margin: 1em auto;
	width: 80%;
	clear: both;
	text-align: left;
	border-top: solid 1px #F00;
	border-bottom: solid 1px #F00;
}

.feedback .feedbackPanel {
	padding: 0.4em;
}

.feedbackPanel li {
	background-repeat: no-repeat;
	background-position: left center;
	padding: 1.2em 1.2em 1.2em 6.2em;
}

.feedbackPanel li.feedbackPanelINFO {
	background-image: url("../images/logoInformation.jpg");
}

.feedbackPanel li.feedbackPanelWARNING {
	background-image: url("../images/logoWarning.jpg");
}

.feedbackPanel li.feedbackPanelERROR {
	background-image: url("../images/logoWarning.jpg");
}

.errors {
	color: #f00;
}

.nota {
	font-style: italic;
	font-size: 80%;
}

/* ---------------------------------------------------------------------*/
/* footer style */
/* ---------------------------------------------------------------------*/
#footer {
	padding-left: 10px;
	padding-top: 5px; 
	float: left;
	width: 100%;
	border-top: 1px solid #CACACA;
	clear: both;
}

#footer .copy {
	background-image: url("../images/logoFT.gif");
	background-repeat: no-repeat;
	background-position: left center;
	text-indent: 30px;
	padding-top: 10px;
	padding-bottom: 5px;
	float: left;
	text-align: left;
	width: auto;
}

#footer .version {
	padding-top: 10px;
	float: right;
	text-align: left;
	width: auto;
}